<div class="navbar-text">
    <div class="dropdown dropleft">
        <button *ngIf= "!isLoggedIn()" (click)="entrar()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
        <span *ngIf="isLoggedIn()" class="dropdown-toggle click" id="ddlUsuario" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <i class="fa fa-user"></i>
            Olá, {{user().name}} <button (click)="logout()" type="button" class="btn btn-danger btn-sm">Sair</button>
        </span>

    </div>
</div>