<div class="navbar-text">
    <div class="dropdown dropleft">
        <span class="dropdown-toggle click" id="ddlUsuario" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            <i class="fa fa-user"></i>
            Olá, Marilene  
        </span>
        <div class="dropdown-menu" aria-labelledby="ddlUsuario">
            <button class="dropdown-item click" type="button">
                <i class="fa fa-pencil fa-fw"></i>
                &nbsp;Perfil
            </button>
            <button class="dropdown-item click" type="button">
                <i class="fa fa-sign-out fa-fw"></i>
                &nbsp;Sair
            </button>
        </div>
    </div>
</div>

