<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

  <mv-header></mv-header>

  <div class="content-wrapper">
    <div class="container-fluid" style="padding-top: 10px;">

      <router-outlet></router-outlet>

    </div>
  </div>

</body>
<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Meat</strong> Angular Application
  </div>
</footer>

</html> -->

<div class="wrapper">

  <mv-header></mv-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>MOVIE</strong> Angular Application
    </div>
  </footer>
  
</div>